<tbody>
  <tr>
    <td><%= event.title %></td>
    <td><%= event.memo %></td>
    <td><%= event.start_date %></td>
    <td><%= event.end_date %></td>
    <td><%= link_to 'Show', event_path(event) %> 
    <td><%= link_to 'Destroy', event_path(event), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
</tbody>