<%= simple_form_for @events, remote: true do |f| %>
  <p><%= f.input :title %></p>
  <p><%= f.input :memo %></p>
  <p><%= f.input :start_date %></p>
  <p><%= f.input :end_date %></p>
  
  <%= f.button :submit ,"追加" %>
<% end %>