<h1>Event一覧</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Memo</th>
      <th>Start_date</th>
      <th>End_date</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <%= render @events %>
</table>

<br>

<body>
  <% link_to "データを追加する", new_event_path, remote: true %>
 
  <div id="mask" class="hidden"></div>
      <section id="modal" class="hidden">
      
        <div id="event-form"></div>

        <div id="close">
        閉じる
        </div>
      </section>

  <div id="calendar"></div>

</body>